/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(background1.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    opacity: 0.9;  
}

.container {
  
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    padding: 2.5rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.625rem;
    
}

.forms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signin-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #888;
}

.input-field input {
    padding: 12px 40px 12px 30px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    background-color: #FF4B2B;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 40px;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
}
a{
    color: white
}

.btn:hover {
    background-color: #FF6347;

}
.social-text {
    margin: 20px 0;
    font-size: 14px;
    color: #888;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    color: #888;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.5 ease;
}

.social-icon:hover {
    color: #333;
}


